__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
ENV/
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
.git
media
staticfiles
.env
*.env
